<template>
  <div>
    <div class="p-sm-2">
      <div class="my-3">
        <div>
          <h1>https</h1>
          <p>Access your node securely</p>
        </div>
      </div>
    </div>
    <div
      class="d-flex flex-column align-items-center justify-content-center p-2"
    >
      <h4 class="px-3 px-lg-4 pb-3">An error occurred</h4>
      <div class="px-3 px-lg-4 pb-3">
        We're sorry, but it looks like HTTPS is not working properly on your
        node. Please try again later. If this error keeps displaying, please
        reboot your node.
      </div>
    </div>
  </div>
</template>

<script setup>
definePageMeta({
  layout: "authenticated",
  pageTransition: { name: "change-page", mode: "out-in" },
});
</script>
