<template>
  <div>
    <b-navbar type="light" class="nav-horizontal py-1">
      <b-navbar-brand to="/dashboard">
        <img src="@/assets/logo.svg" alt="Citadel" height="50" />
      </b-navbar-brand>

      <!-- Right aligned nav items -->
      <b-navbar-nav class="ms-auto">
        <!-- Chain badge -->
        <b-badge
          v-if="bitcoinStore.chain !== 'main'"
          variant="success"
          class="align-self-center me-2 text-capitalize"
          pill
          >{{
            bitcoinStore.chain === "test" ? "testnet" : bitcoinStore.chain
          }}</b-badge
        >

        <div
          class="toggle-theme-icon d-flex align-items-center"
          @click="toggleTheme"
        >
          <div v-if="colorMode === 'light'" class="icon-24px">
            <MoonIcon />
          </div>
          <div v-if="colorMode === 'dark'" class="icon-24px">
            <SunIcon />
          </div>
        </div>

        <div
          class="nav-hamburger-icon d-lg-none d-xl-none ms-3"
          :class="{ active: uiStore.isMobileMenuOpen }"
          @click="toggleMobileMenu"
        >
          <div></div>
        </div>

        <b-nav-item-dropdown
          class="d-none d-lg-block d-xl-block ms-2"
          right
          no-caret
        >
          <!-- Using 'button-content' slot -->
          <template #button-content>{{
            userStore.name.split(" ")[0]
          }}</template>
          <b-dropdown-item @click="logout">Log out</b-dropdown-item>
        </b-nav-item-dropdown>
      </b-navbar-nav>
    </b-navbar>

    <!-- Mobile menu -->
    <transition name="mobile-vertical-menu">
      <div
        v-if="uiStore.isMobileMenuOpen"
        class="mobile-vertical-menu d-lg-none d-xl-none"
      >
        <authenticated-vertical-navbar :is-mobile-menu="true" />
      </div>
    </transition>

    <transition name="mobile-vertical-menu-fader">
      <div
        v-if="uiStore.isMobileMenuOpen"
        class="mobile-vertical-menu-fader d-lg-none d-xl-none"
        @click="toggleMobileMenu"
      ></div>
    </transition>

    <b-row class="mx-0">
      <b-col
        col
        lg="3"
        xl="2"
        class="d-none d-lg-block d-xl-block ps-0 pe-0 pe-xl-2"
      >
        <authenticated-vertical-navbar />
      </b-col>

      <b-col col lg="9" xl="10">
        <b-modal
          v-if="systemStore.availableUpdate.version"
          id="confirm-update-modal"
          v-model="systemStore.showUpdateConfirmationModal"
          size="lg"
          centered
          hide-footer
        >
          <template #header>
            <div class="px-2 px-sm-3 pt-2 d-flex justify-content-between w-100">
              <h3>{{ systemStore.availableUpdate.name }}</h3>
              <!-- Emulate built in modal header close button action -->
              <a
                href="#"
                class="align-self-center"
                @click.stop.prevent="hideUpdateConfirmationModal"
              >
                <svg
                  width="18"
                  height="18"
                  viewBox="0 0 18 18"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    fill-rule="evenodd"
                    clip-rule="evenodd"
                    d="M13.6003 4.44197C13.3562 4.19789 12.9605 4.19789 12.7164 4.44197L9.02116 8.1372L5.32596 4.442C5.08188 4.19792 4.68615 4.19792 4.44207 4.442C4.198 4.68607 4.198 5.0818 4.44207 5.32588L8.13728 9.02109L4.44185 12.7165C4.19777 12.9606 4.19777 13.3563 4.44185 13.6004C4.68592 13.8445 5.08165 13.8445 5.32573 13.6004L9.02116 9.90497L12.7166 13.6004C12.9607 13.8445 13.3564 13.8445 13.6005 13.6004C13.8446 13.3563 13.8446 12.9606 13.6005 12.7165L9.90505 9.02109L13.6003 5.32585C13.8444 5.08178 13.8444 4.68605 13.6003 4.44197Z"
                    fill="#6c757d"
                  />
                </svg>
              </a>
            </div>
          </template>
          <div class="px-2 px-sm-3 pb-2 pb-sm-3">
            <div class>
              <p v-if="systemStore.availableUpdate.notes" class="text-newlines">
                {{ systemStore.availableUpdate.notes }}
              </p>
              <b-button
                block
                variant="success"
                :disabled="isUpdating"
                @click="startUpdate"
                >{{
                  isUpdating ? "Starting update..." : "Install now"
                }}</b-button
              >
            </div>
          </div>
        </b-modal>
        <div class="pe-xl-2 content-container">
          <b-alert
            :show="!!systemStore.availableUpdate.version"
            class="mt-4 mb-0 d-flex"
            variant="success"
            dismissible
          >
            <div class="d-flex align-items-center mb-0">
              <div class="icon-24px"><BellIcon /></div>
              <a
                :href="`https://github.com/runcitadel/core/releases/tag/v${systemStore.availableUpdate.version}`"
                target="_blank"
                class="alert-link"
                >{{ systemStore.availableUpdate.name }}</a
              >
              &nbsp;is now available to install.
            </div>
            <b-button
              v-show="!isUpdating"
              variant="primary"
              size="sm"
              :disabled="isUpdating"
              class="ms-auto"
              @click.prevent="confirmUpdate"
              >Install now</b-button
            >
            <div v-if="isUpdating" class="d-flex align-items-center">
              <b-spinner class="me-1" variant="success" small></b-spinner>
              Installing...
            </div>
          </b-alert>
          <b-alert
            v-if="isRunningLowOnRam"
            class="mt-4 mb-0"
            variant="warning"
            show
            dismissible
          >
            <b-icon-exclamation-circle class="me-2" />
            <b>Low RAM:</b> Your Citadel is running low on RAM. Consider
            uninstalling some apps or upgrading your Citadel's hardware.
            <router-link to="/settings#ram" class="alert-link float-right"
              >View usage</router-link
            >
          </b-alert>
          <b-alert
            v-if="isRunningLowOnStorage"
            class="mt-4 mb-0"
            variant="warning"
            show
            dismissible
          >
            <b-icon-exclamation-circle class="me-2" />
            <b>Low storage:</b> Your Citadel only has
            {{
              readableSize(systemStore.storage.total - systemStore.storage.used)
            }}
            of storage left. Consider uninstalling some apps or upgrading to a
            larger drive.
            <router-link to="/settings#storage" class="alert-link float-right"
              >View usage</router-link
            >
          </b-alert>
          <b-alert
            v-if="systemStore.isCitadelOS && isRunningHot"
            class="mt-4 mb-0"
            variant="warning"
            show
            dismissible
          >
            <b-icon-exclamation-circle class="me-2" />
            <b>High temperature:</b> Your Raspberry Pi is running hot. Consider
            using a heatsink, fan or a cooling case.
          </b-alert>
          <slot />
        </div>

        <!-- Footer -->
        <footer class="d-flex justify-content-end text-muted pe-sm-2 pe-xl-3">
          <p>
            <small> Built by Nirvati. </small>
          </p>
        </footer>
      </b-col>
    </b-row>
  </div>
</template>

<script lang="ts" setup>
import {
  BellIcon,
  SunIcon,
  MoonIcon,
} from "@bitcoin-design/bitcoin-icons-vue/filled/esm/index.js";
import { BIconExclamationCircle } from "bootstrap-icons-vue";
import useSystemStore from "../store/system";
import useUserStore from "../store/user";
import useUiStore from "../store/ui";
import useBitcoinStore from "../store/bitcoin";
import useLightningStore from "../store/lightning";

import useToast from "../utils/toast";

const systemStore = useSystemStore();
const userStore = useUserStore();
const uiStore = useUiStore();
const bitcoinStore = useBitcoinStore();
const lightningStore = useLightningStore();
const toast = useToast();
const colorMode = useColorMode();

const isUpdating = ref(false);
const dataFetchInterval = ref<number | undefined>(undefined);
const slowerDataFetchInterval = ref<number | undefined>(undefined);
const pollUpdateStatus = ref<number | undefined>(undefined);

const isRunningLowOnRam = computed(() => {
  // over 95% RAM used
  if (systemStore.ram && systemStore.ram.total) {
    return systemStore.ram.used / systemStore.ram.total > 0.95;
  }
  return false;
});
const isRunningLowOnStorage = computed(() => {
  // less than 1GB remaining
  if (systemStore.storage && systemStore.storage.total) {
    return systemStore.storage.total - systemStore.storage.used < 1000000000;
  }
  return false;
});
const isRunningHot = computed(() => {
  // over 80'C
  if (systemStore.cpuTemperature) {
    return systemStore.cpuTemperature > 80;
  }
  return false;
});
onMounted(() => {
  // load this data once:
  userStore.getInfo();
  systemStore.getIsCitadelOS();
  // Preload this so when the user switches to th Lightning page, it can be displayed immediately
  lightningStore.getVersionInfo();

  // refresh this data every 20s:
  fetchData();
  dataFetchInterval.value = window.setInterval(fetchData, 20000);
  // This data is't changing as much and fetching it every 5 minutes is enough
  fetchLessChangingData();
  slowerDataFetchInterval.value = window.setInterval(
    fetchLessChangingData,
    60 * 5 * 1000,
  );
});
onBeforeUnmount(() => {
  window.clearInterval(dataFetchInterval.value);
  window.clearInterval(slowerDataFetchInterval.value);
  if (pollUpdateStatus) {
    window.clearInterval(pollUpdateStatus.value);
  }
});

function toggleTheme() {
  colorMode.value = colorMode.value === "light" ? "dark" : "light";
}
function logout() {
  // close mobile menu
  if (uiStore.isMobileMenuOpen) {
    toggleMobileMenu();
  }
  userStore.logout();
}
function fetchData() {
  systemStore.getUnit();
  bitcoinStore.getSync();
  bitcoinStore.getBalance();
  bitcoinStore.getTransactions();
  lightningStore.getSync();
  lightningStore.getTransactions();
}
function fetchLessChangingData() {
  lightningStore.getChannels();
  bitcoinStore.getPrice();
  systemStore.getAvailableUpdate();
  systemStore.getRam();
  systemStore.getStorage();
  systemStore.getCpuTemperature();
}
function toggleMobileMenu() {
  uiStore.isMobileMenuOpen = !uiStore.isMobileMenuOpen;
}
function hideUpdateConfirmationModal() {
  systemStore.hideUpdateConfirmationModal();
}
function confirmUpdate() {
  systemStore.confirmUpdate();
}
async function startUpdate() {
  try {
    await systemStore.startUpdate();
    isUpdating.value = true;
    // poll update status every 2s until the update process begins
    // because after it's updated, the loading view will take over
    pollUpdateStatus.value = window.setInterval(async () => {
      await systemStore.getUpdateStatus();
      if (systemStore.updateStatus.state === "installing") {
        window.clearInterval(pollUpdateStatus.value);
      }
    }, 2 * 1000);
  } catch (error) {
    toast.error("Error", "Unable to start the update process");
  }
}
</script>

<style lang="scss" scoped>
body[data-bs-theme="dark"] {
  .nav-horizontal {
    background: #2a3244 !important;
  }
  .mobile-vertical-menu {
    background: #2a3244 !important;
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.4);
  }
}

.nav-horizontal {
  background: #fff;
  position: sticky;
  z-index: 9;
}

.nav-horizontal {
  top: 0;
}

.content-container {
  min-height: calc(100vh - 150px);
}

/*
.input-search-form {
  form {
    position: relative;
  }
  .input-search {
    border: none !important;
    outline: none !important;
    box-shadow: none !important;
    width: calc(100vw - 200px);
    max-width: 600px;
    font-size: 1rem;
    margin-left: 1rem;
  }
  .input-search-icon {
    content: url("~@/assets/icon-search.svg");
    position: absolute;
    top: calc(50% - 0.625rem);
    left: -0.25rem;
    height: 1.25rem;
    width: auto;
  }
}*/

::placeholder {
  color: #c3c6d1;
}

.toggle-theme-icon {
  cursor: pointer;
}

.nav-hamburger-icon {
  width: 24px;
  cursor: pointer;
  &:before,
  &:after,
  div {
    background-color: #c3c6d1;
    border-radius: 3px;
    content: "";
    display: block;
    height: 4px;
    width: 100%;
    margin: 5px 0;
    transition: transform 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }
  div {
    width: 20px;
    margin-left: 4px;
  }
  &.active {
    &:before {
      transform: translateY(9px) rotate(135deg);
    }
    &:after {
      transform: translateY(-9px) rotate(-135deg);
    }
    div {
      transform: scale(0);
    }
  }
}

.mobile-vertical-menu {
  position: fixed;
  z-index: 9;
  top: 84px;
  right: 0;
  width: 80vw;
  max-width: 280px;
  height: calc(var(--vh100, 100vh) - 84px);
  background: #fff;
  box-shadow: var(--card-shadow);
  transition: transform 0.6s cubic-bezier(0.77, 0, 0.175, 1);
}

.mobile-vertical-menu-enter-from {
  // opacity: 0;
  transform: translate3d(100%, 0, 0);
}
.mobile-vertical-menu-enter-to {
  opacity: 1;
  transform: translate3d(0, 0, 0);
}
.mobile-vertical-menu-leave {
  opacity: 1;
  transform: translate3d(0, 0, 0);
}
.mobile-vertical-menu-leave-to {
  // opacity: 0;
  transform: translate3d(100%, 0, 0);
}

.mobile-vertical-menu-fader {
  position: fixed;
  height: var(--vh100, 100vh);
  width: 100vw;
  left: 0;
  top: 0;
  background: rgba(0, 0, 0, 1);
  z-index: 8;
  opacity: 0.1;
  transition: opacity 0.6s ease-in-out;
}

.mobile-vertical-menu-fader-enter-from {
  opacity: 0;
}
.mobile-vertical-menu-fader-enter-to {
  opacity: 0.1;
}
.mobile-vertical-menu-fader-leave {
  opacity: 0.1;
}
.mobile-vertical-menu-fader-leave-to {
  opacity: 0;
}
</style>
