<template>
  <div>
    <div class="p-sm-2">
      <div class="my-3">
        <div>
          <h1>donate</h1>
          <p>Help us continue to innovate</p>
        </div>
      </div>
    </div>
    <h5 class="px-3 px-lg-4 pb-3">
      We can't offer Citadel without your support
    </h5>
    <div class="px-3 px-lg-4 pb-3">
      <p>
        Thank you for using Citadel! As you probably know, we're a completely
        free (as in free speech) open source project. To make it possible for us
        to spend more time on Citadel, build more features and to make it
        better, we need your support.
      </p>
      <p>
        We are working hard on the next generation of Citadel, called Nirvati.
        Our goal is to change the way people think about self-hosting and to
        make the Citadel experience a lot better. This effort takes a while, and
        we need your support to make it happen.
      </p>
      <p>
        If you want to support us, please consider donating on
        <a href="https://geyser.fund/project/runcitadel">Geyser</a> (for
        Bitcoin & Lightning) or
        <a href="https://opencollective.com/nirvati">OpenCollective</a> (For
        PayPal or credit card). We are completely transparent regarding where
        your donations are spent, you can see all our spendings on
        OpenCollective.
      </p>
      <p>
        Your donations will not only help us, but parts of it will also go to
        other open source projects that make Citadel possible.
      </p>
    </div>
  </div>
</template>

<script setup>
definePageMeta({
  layout: "authenticated",
  pageTransition: { name: "change-page", mode: "out-in" },
});
</script>
