<template>
  <div>
    <div class="p-sm-2">
      <div class="my-3">
        <hgroup>
          <h1>Nirvati</h1>
          <p>Try the next generation of Citadel</p>
        </hgroup>
      </div>
    </div>
    <div
      class="d-flex flex-column align-items-center justify-content-center p-2"
    >
      <div class="px-3 px-lg-4 pb-3">
        <p>Nirvati is the future of Citadel, and will power Citadel 0.4.0.</p>
        <p>
          You are currently on the Citadel 0.3 LTS release. If you would like to
          try Nirvati, you can upgrade to Citadel 0.4. Please note that this is
          a beta release, and is not recommended for production use.
        </p>
        <p>
          Citadel 0.3 will continue to receive security updates until at least
          2025.
        </p>
        <b-button
          variant="primary"
          class="mt-3"
          disabled
          @click="window.open('https://nirvati.org')"
          >Upgrade support is coming soon</b-button
        >
      </div>
    </div>
  </div>
</template>

<script setup>
definePageMeta({
  layout: "authenticated",
  pageTransition: { name: "change-page", mode: "out-in" },
});
</script>
